<h1>会社情報</h1>
<h3>私たちのミッションは人を活かすこと。あなたのキャリアを支えます。</h3>


<h3>RSSK株式会社について</h3>
<h3>会社概要</h3>

<p>商号：RSSK株式会社（RSSK Inc.）</p>
<p>本社住所：東京都品川区東大井1-10-40</p>
<P>設立：2019年7月</p>
<p>資本金：1億円</p>
<p>代表：選任中</p>
<p>事業内容：</p>
<p>HRコンサルティング</p>
<p>インディペンデント ワークシステム(人材派遣)</p>
<p>インソーシング(委託・請負)</p>
<p>教育・研修</p>
<p>グローバルソーシング(海外人材サービス)</p>
