<h1>お問い合わせ</h1>
<p>お仕事診断に関するお問い合わせ窓口をご案内します。お問い合わせの内容により受付窓口が異なります。</p>
<h2>お問い合わせの前にご確認ください</h2>
<p>よくあるご質問</p>

<h2>お問い合わせ先</h2>
<h3>国内</h3>
<p>北海道&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>青森&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>岩手&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>秋田&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>山形&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>宮城&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>福島&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>新潟&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>栃木&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>群馬&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>茨城&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>東京&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>埼玉&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>横浜&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>新潟&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>山梨&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>静岡&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>


<h3>海外</h3>
<p>タイ&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>ベトナム&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>台湾&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>アメリカ&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>ドイツ&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>フランス&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
