<h1>お問い合わせ</h1>
<p>お仕事診断に関するお問い合わせ窓口をご案内します。お問い合わせの内容により受付窓口が異なります。</p>
<h2>お問い合わせの前にご確認ください</h2>
<p>よくあるご質問</p>

<h2>お問い合わせ先</h2>
<p>北海道&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>青森&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>岩手&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>秋田&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>山形&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>宮城&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>福島&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>新潟&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>栃木&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>
<p>群馬&ensp;&ensp;TEL:&ensp;999-9999-9999</p>
<p>TEL: 999-9999-9999</p>