<h1>Evaluation#result</h1>
<p>Find me in app/views/evaluation/result.html.erb</p>
<p>
<%= 
"回答 = #{params[:q11]}, #{params[:q12]}, #{params[:q13]}, 
#{params[:q14]}, #{params[:q15]}, #{params[:q16]}" 
%>
</p>
