<h1>診断結果</h1>

<p>
<%
#require 'pp'
#pp params
score1 = 0

case params[:q11]
when 'a' then
  score1 += 2
when 'b' then
  score1 += 3
when "c" then
  score1 += 4
when "d" then
  score1 += 1
else
  score1 -= 25
end

case params[:q12]
when 'a' then
  score1 += 2
when 'b' then
  score1 += 4
when "c" then
  score1 += 3
when "d" then
  score1 += 1
else
  score1 -= 25
end

case params[:q13]
when 'a' then
  score1 += 4
when 'b' then
  score1 += 3
when "c" then
  score1 += 2
when "d" then
  score1 += 1
else
  score1 -= 25
end

case params[:q14]
when 'a' then
  score1 += 2
when 'b' then
  score1 += 1
when "c" then
  score1 += 3
when "d" then
  score1 += 4
else
  score1 -= 25
end

case params[:q15]
when 'a' then
  score1 += 2
when 'b' then
  score1 += 4
when "c" then
  score1 += 1
when "d" then
  score1 += 3
else
  score1 -= 25
end

case params[:q16]
when 'a' then
  score1 += 4
when 'b' then
  score1 += 3
when "c" then
  score1 += 2
when "d" then
  score1 += 1
else
  score1 -= 25
end

if score1 >= 21 then
  score2 = 100
  result1 = "会社のことまできちんと考えて、仕事をするタイプです。"
  result2 = <<"EOS"
  あなたの忠誠心度はかなり高いほうです。あなたは自分のことだけでなく、会社のためにという
  気持ちを強く持っているし、つねに責任感を持って仕事にとり組んでいるので、上司や先輩から
  大きなプロジェクトを任されることも少なくなさそう。また、人に対しても気づかいのできる
  タイプなので、上の人からはもちろん、同僚や後輩からの人望も厚いでしょう。
EOS
elsif score1 >= 15 then
  score2 = 75
  result1 = "上司に不満があっても、安易にやめないようにしましょう。"
  result2 = <<"EOS"
  あなたの忠誠心度はどちらかといえば高いほうです。自分の出世だけでなく、会社を大きくして
  いきたいという気持ちを持っています。ただあなたの場合、上司とうまくいっているときはいいの
  ですが、少しでも反感を覚えてしまうと、簡単に会社をやめてしまうことも。もし上司への不満
  だけで、会社に対しての忠誠心は変わっていないなら、納得がいくまで上司と話し合いましょう。
EOS
elsif score1 >= 8 then
  score2 = 50
  result1 = "ミスをして上司や先輩に叱咤されたとき、会社への忠誠心は一気に低くなります。"
  result2 = <<"EOS"
  あなたの忠誠心は高くなったり低くなったり、コロコロ変わりそう。仕事がうまくいき上司や先輩
  に誉められると会社のためにがんばろうと思うのですが、ミスをして叱咤されると途端に「別に
  私は会社のために仕事しているわけじゃないし」などと思ってしまいそう。誰でもそういうところ
  はあると思いますが、その気持をあからさまに表に出さないことが大切です。
EOS
elsif score1 >= 1 then
  score2 = 25
  result1 = "仕事を一生懸命にするのは、あくまでキャリアアップのためで会社のためではありません。"
  result2 = <<"EOS"
  あなたの忠誠心度はかなり低め。あなたには会社のために何かをしようという気持ちなどさらさら
  なさそう。きちんと仕事をしていたとしても、それはあくまでも自分のキャリアアップのためで
  あり、会社のためという意識ではないのです。またこのタイプには、会社にいるだけで仕事をして
  いる気になってしまう人が多く、それが「ＯＬの気楽さ」くらいに思っている人も…
EOS
else
  score1 = 0
  score2 = 0
  result1 = "未回答の質問があります。"
  result2 = ""
end
%>
<p>スコア: <%= score1 %>点</p>
<p>忠誠度評点: <%= score2 %>点</p>
<h3>寸評</h3>
<p><%= result1 %></p>
<p><%= result2 %></p>
<%# 
"回答 = #{params[:q11]}, #{params[:q12]}, #{params[:q13]}, \
#{params[:q14]}, #{params[:q15]}, #{params[:q16]}" 
%>
</p>
