<div class="main-container">
<img src = "/logoimage.png" alt="Mountain View" style="width:350px;height:100px;">


<h1>適職診断開始！！</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>

<%= button_to "診断開始", {controller: 'static_pages', action: 'check'}, {method: :get} %>

</div>
