
<!--
<table border="1">
  <tr>
    <th>id.</th><th>score</th><th>time</th></tr>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.id %></td>
        <td><%= evaluation.score %></td> 
        <td><%= evaluation.time %></td>
      </tr>
    <% end %>
</table>
  -->
<h1>test</h1>