@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

body.check{
  /* 画像ファイルの指定 */
  background-image: url("/background3.jpeg");

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
 
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
 
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
 
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
 
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

body.result{
  /* 画像ファイルの指定 */
  background-image: url("/background3.jpeg");
  
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  }

  body.resultlist{
    /* 画像ファイルの指定 */
    background-image: url("/background3.jpeg");
    
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
     
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
     
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
     
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
     
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    }
  
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1.start {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 50px;
  margin-top : 100px ;
/**text-align: center;*/

}

h1.result{
  margin-bottom: 50px;
  font-weight: bold;
}

h3.result{
  margin-top: 50px;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

p.question {
  position: relative;
  padding-left: 25px;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 5px;
}

p.question:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 25px transparent;
  border-bottom: solid 25px red;
}

p.question:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 15px;
  width: 65%;
  border-bottom: solid 3px red;
}

p.discription{
  font-size: 1.6em;
  margin-top: 120px;
}

label{
  font-size: 15px;
  margin-left: 35px;
}

/* header */

.navbar-brand {
  background: url("/logoimage.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  background: url("/logoimage.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.startbutton {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: black;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  width:580px;
  height:50px;
  font-size: 2em;
  text-align: center;
}
.startbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

input#submit_button{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: black;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  width:580px;
  height:50px;
  font-size: 2em;
  text-align: center;
}
input#submit_button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

